4_elementos_binario_0807.json
[
    {
        "id": "db504739535ff572",
        "type": "tab",
        "label": "PROYECTO CAPSTON_2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24c73568990cb175",
        "type": "function",
        "z": "db504739535ff572",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "bac5599915de09c2"
            ]
        ]
    },
    {
        "id": "ab8d57e53240fdfe",
        "type": "function",
        "z": "db504739535ff572",
        "name": "",
        "func": "msg.payload = msg.payload.CO2;\nglobal.set (\"CO2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 220,
        "wires": [
            [
                "5e299201ee033562",
                "aa5709d5ae08f6d8"
            ]
        ]
    },
    {
        "id": "ca1bfc775f20b023",
        "type": "function",
        "z": "db504739535ff572",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.CO2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "11d5238b73932b7d"
            ]
        ]
    },
    {
        "id": "5809cd3e01e92d4d",
        "type": "mqtt in",
        "z": "db504739535ff572",
        "name": "",
        "topic": "sic/capston16/CO2",
        "qos": "2",
        "datatype": "auto",
        "broker": "ca462e86c2aa4086",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "8d93c3ae8b798766"
            ]
        ]
    },
    {
        "id": "bac5599915de09c2",
        "type": "ui_text",
        "z": "db504739535ff572",
        "group": "71697663edcd7898",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Salon 1",
        "format": "",
        "layout": "row-left",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "5e299201ee033562",
        "type": "ui_gauge",
        "z": "db504739535ff572",
        "name": "",
        "group": "ac14757c0bcf6c4b",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "CO2",
        "label": ">= a 600 ppm",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "11d5238b73932b7d",
        "type": "ui_chart",
        "z": "db504739535ff572",
        "name": "",
        "group": "c94147aee56c8222",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Historico de CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1.5",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 690,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c66c9facaeb756bd",
        "type": "json",
        "z": "db504739535ff572",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "c7a6be4c6e3195c6"
            ]
        ]
    },
    {
        "id": "716eaea56edad4b6",
        "type": "mqtt in",
        "z": "db504739535ff572",
        "name": "",
        "topic": "sic/capston16/presencia",
        "qos": "2",
        "datatype": "auto",
        "broker": "ca462e86c2aa4086",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 600,
        "wires": [
            [
                "c66c9facaeb756bd"
            ]
        ]
    },
    {
        "id": "c7a6be4c6e3195c6",
        "type": "function",
        "z": "db504739535ff572",
        "name": "A/P",
        "func": "//msg.topic = msg.payload.id2;\nmsg.payload = msg.payload.presencia;\nglobal.set (\"presencia\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 560,
        "wires": [
            [
                "e3e2d15b65bca47d",
                "d6e4acb15cd210ee"
            ]
        ]
    },
    {
        "id": "e2974aeb56d0c9e0",
        "type": "ui_audio",
        "z": "db504739535ff572",
        "name": "Alarma",
        "group": "28c5fafaf4c6c6a4",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 1220,
        "y": 640,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "e3e2d15b65bca47d",
        "type": "ui_gauge",
        "z": "db504739535ff572",
        "name": "",
        "group": "34983b35c8346961",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Ausencia / Presencia",
        "label": "binario",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "8d93c3ae8b798766",
        "type": "json",
        "z": "db504739535ff572",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "24c73568990cb175",
                "ab8d57e53240fdfe",
                "ca1bfc775f20b023"
            ]
        ]
    },
    {
        "id": "b28a56b89b4fff6e",
        "type": "inject",
        "z": "db504739535ff572",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic de fecha",
        "payloadType": "date",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "003f51f091862297"
            ]
        ]
    },
    {
        "id": "624bec93e64b96e6",
        "type": "debug",
        "z": "db504739535ff572",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "003f51f091862297",
        "type": "function",
        "z": "db504739535ff572",
        "name": "",
        "func": "var date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n//msg.taquitos = \"2 de pastor\";// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 40,
        "wires": [
            [
                "624bec93e64b96e6",
                "cc5540110c21fb19"
            ]
        ]
    },
    {
        "id": "cc5540110c21fb19",
        "type": "ui_text",
        "z": "db504739535ff572",
        "group": "71697663edcd7898",
        "order": 0,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Fecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "d3b1e831b4c271b1",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 700,
        "wires": [
            [
                "b0584d81174ee176",
                "d360caa83a0cab9e",
                "f1a6ad14e2558a53"
            ]
        ]
    },
    {
        "id": "59259b85a58d90bf",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 760,
        "wires": [
            [
                "b0584d81174ee176"
            ]
        ]
    },
    {
        "id": "f1a6ad14e2558a53",
        "type": "debug",
        "z": "db504739535ff572",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 600,
        "wires": []
    },
    {
        "id": "b0584d81174ee176",
        "type": "ui_switch",
        "z": "db504739535ff572",
        "name": "",
        "label": "Intruso en el aula",
        "tooltip": "",
        "group": "e6d23854.a005",
        "order": 1,
        "width": "5",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1030,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "d360caa83a0cab9e",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Intruso en el aula",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 640,
        "wires": [
            [
                "e2974aeb56d0c9e0"
            ]
        ]
    },
    {
        "id": "d6e4acb15cd210ee",
        "type": "switch",
        "z": "db504739535ff572",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 720,
        "wires": [
            [
                "d3b1e831b4c271b1"
            ],
            [
                "59259b85a58d90bf"
            ]
        ]
    },
    {
        "id": "61861a9fb8cd56e2",
        "type": "mqtt in",
        "z": "db504739535ff572",
        "name": "",
        "topic": "sic/capston16/EdoVen",
        "qos": "2",
        "datatype": "auto",
        "broker": "ca462e86c2aa4086",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "7a067517f9a8b77a"
            ]
        ]
    },
    {
        "id": "4f0bbc1352f0afa8",
        "type": "switch",
        "z": "db504739535ff572",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "976e2c2e21526ff3"
            ],
            [
                "66d2a9eedf8216ae"
            ]
        ]
    },
    {
        "id": "976e2c2e21526ff3",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 980,
        "wires": [
            [
                "f0a03d9bc8fc9014",
                "284fc7d22ce5c03e"
            ]
        ]
    },
    {
        "id": "66d2a9eedf8216ae",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1060,
        "wires": [
            [
                "284fc7d22ce5c03e",
                "3e216154b9fcdbb1"
            ]
        ]
    },
    {
        "id": "f0a03d9bc8fc9014",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Abierta",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 940,
        "wires": [
            [
                "3fdfe2632f8247c5",
                "e93328bec96f90bb"
            ]
        ]
    },
    {
        "id": "284fc7d22ce5c03e",
        "type": "ui_switch",
        "z": "db504739535ff572",
        "name": "",
        "label": "Ventana",
        "tooltip": "",
        "group": "66cbfbdfc0fcbbb9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1040,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "3fdfe2632f8247c5",
        "type": "ui_audio",
        "z": "db504739535ff572",
        "name": "Abierto",
        "group": "66cbfbdfc0fcbbb9",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 1320,
        "y": 940,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "3e216154b9fcdbb1",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Cerrada",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1100,
        "wires": [
            [
                "193e705ae90b532a",
                "e93328bec96f90bb"
            ]
        ]
    },
    {
        "id": "193e705ae90b532a",
        "type": "ui_audio",
        "z": "db504739535ff572",
        "name": "Cerrada",
        "group": "66cbfbdfc0fcbbb9",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 1320,
        "y": 1100,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "7005bf43fda22cbd",
        "type": "function",
        "z": "db504739535ff572",
        "name": "C/A",
        "func": "//msg.topic = msg.payload.id2;\nmsg.payload = msg.payload.EdoVen;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "4f0bbc1352f0afa8"
            ]
        ]
    },
    {
        "id": "7a067517f9a8b77a",
        "type": "json",
        "z": "db504739535ff572",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 1020,
        "wires": [
            [
                "7005bf43fda22cbd"
            ]
        ]
    },
    {
        "id": "e93328bec96f90bb",
        "type": "ui_text",
        "z": "db504739535ff572",
        "group": "66cbfbdfc0fcbbb9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ventana",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1540,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1d7a655be8edd836",
        "type": "mqtt in",
        "z": "db504739535ff572",
        "name": "",
        "topic": "sic/capston16/Venti",
        "qos": "2",
        "datatype": "auto",
        "broker": "ca462e86c2aa4086",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1360,
        "wires": [
            [
                "b044e8b74d3037ae"
            ]
        ]
    },
    {
        "id": "fd8c56ea19ea830e",
        "type": "switch",
        "z": "db504739535ff572",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 1360,
        "wires": [
            [
                "d0e6f4acde4d1ea7"
            ],
            [
                "940843759cd4bb53"
            ]
        ]
    },
    {
        "id": "d0e6f4acde4d1ea7",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1320,
        "wires": [
            [
                "678934bbd9415407",
                "e6bd69c348edd812"
            ]
        ]
    },
    {
        "id": "940843759cd4bb53",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1400,
        "wires": [
            [
                "e6bd69c348edd812",
                "2397f53a6096a0f4"
            ]
        ]
    },
    {
        "id": "bb6e6b1354d81edb",
        "type": "function",
        "z": "db504739535ff572",
        "name": "E/A",
        "func": "//msg.topic = msg.payload.id2;\nmsg.payload = msg.payload.Venti;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1360,
        "wires": [
            [
                "fd8c56ea19ea830e"
            ]
        ]
    },
    {
        "id": "b044e8b74d3037ae",
        "type": "json",
        "z": "db504739535ff572",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 1360,
        "wires": [
            [
                "bb6e6b1354d81edb"
            ]
        ]
    },
    {
        "id": "678934bbd9415407",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Encendido",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1280,
        "wires": [
            [
                "c2a861a6e1cdf7ef",
                "5de16319c65d05ad"
            ]
        ]
    },
    {
        "id": "e6bd69c348edd812",
        "type": "ui_switch",
        "z": "db504739535ff572",
        "name": "",
        "label": "Ventilador",
        "tooltip": "",
        "group": "1250e9850d585101",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1040,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "c2a861a6e1cdf7ef",
        "type": "ui_audio",
        "z": "db504739535ff572",
        "name": "Encendido",
        "group": "66cbfbdfc0fcbbb9",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 1330,
        "y": 1280,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "2397f53a6096a0f4",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Apagado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1440,
        "wires": [
            [
                "d18e5186080051d3",
                "5de16319c65d05ad"
            ]
        ]
    },
    {
        "id": "d18e5186080051d3",
        "type": "ui_audio",
        "z": "db504739535ff572",
        "name": "Apagado",
        "group": "66cbfbdfc0fcbbb9",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 1320,
        "y": 1440,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "5de16319c65d05ad",
        "type": "ui_text",
        "z": "db504739535ff572",
        "group": "1250e9850d585101",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ventilador",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1540,
        "y": 1360,
        "wires": []
    },
    {
        "id": "4a4e5d059ba3d7d2",
        "type": "ui_audio",
        "z": "db504739535ff572",
        "name": "Alarma",
        "group": "ac14757c0bcf6c4b",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 1300,
        "y": 220,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "9766ce34264faf49",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 240,
        "wires": [
            [
                "989096fd42b01de3",
                "8cecf77bedbd2d01"
            ]
        ]
    },
    {
        "id": "94adc68922726aa5",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 340,
        "wires": [
            [
                "989096fd42b01de3"
            ]
        ]
    },
    {
        "id": "989096fd42b01de3",
        "type": "ui_switch",
        "z": "db504739535ff572",
        "name": "",
        "label": "Exceso de CO2",
        "tooltip": "",
        "group": "ac14757c0bcf6c4b",
        "order": 1,
        "width": "5",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1120,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8cecf77bedbd2d01",
        "type": "change",
        "z": "db504739535ff572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Exceso dioxido de carbono",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "4a4e5d059ba3d7d2"
            ]
        ]
    },
    {
        "id": "aa5709d5ae08f6d8",
        "type": "switch",
        "z": "db504739535ff572",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "9766ce34264faf49"
            ],
            [
                "94adc68922726aa5"
            ]
        ]
    },
    {
        "id": "ca462e86c2aa4086",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "Erikabarojas",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "71697663edcd7898",
        "type": "ui_group",
        "name": "Ubicacion",
        "tab": "1bc7baa8f6b02be4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac14757c0bcf6c4b",
        "type": "ui_group",
        "name": "Valor de CO2",
        "tab": "1bc7baa8f6b02be4",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c94147aee56c8222",
        "type": "ui_group",
        "name": "Grafica",
        "tab": "1bc7baa8f6b02be4",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "28c5fafaf4c6c6a4",
        "type": "ui_group",
        "name": "Alarma",
        "tab": "1bc7baa8f6b02be4",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34983b35c8346961",
        "type": "ui_group",
        "name": "Valor de presencia",
        "tab": "1bc7baa8f6b02be4",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e6d23854.a005",
        "type": "ui_group",
        "name": "Alarma",
        "tab": "1bc7baa8f6b02be4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "66cbfbdfc0fcbbb9",
        "type": "ui_group",
        "name": "Estado ventana",
        "tab": "1bc7baa8f6b02be4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1250e9850d585101",
        "type": "ui_group",
        "name": "Estado Ventilador",
        "tab": "1bc7baa8f6b02be4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1bc7baa8f6b02be4",
        "type": "ui_tab",
        "name": "Capston16",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]