flow unidos 120722.json
[
    {
        "id": "b5c1dfac435d62cd",
        "type": "tab",
        "label": "PROYECTO CAPSTON_3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75860693917af756",
        "type": "ui_text",
        "z": "b5c1dfac435d62cd",
        "group": "71697663edcd7898",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Salon 1",
        "format": "",
        "layout": "row-left",
        "x": 1220,
        "y": 40,
        "wires": []
    },
    {
        "id": "fef906841347b8d8",
        "type": "ui_gauge",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "group": "ac14757c0bcf6c4b",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "CO2",
        "label": "ppm",
        "format": "{{value}}",
        "min": "0",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "36bb6927c3ce3a27",
        "type": "ui_chart",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "group": "c94147aee56c8222",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Historico de CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1200",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1230,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a93c6cc5374ab812",
        "type": "inject",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic de fecha",
        "payloadType": "date",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "41c74b2b71776391"
            ]
        ]
    },
    {
        "id": "a2d22929574a0bd0",
        "type": "debug",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "41c74b2b71776391",
        "type": "function",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "func": "var date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n//msg.taquitos = \"2 de pastor\";// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 40,
        "wires": [
            [
                "a2d22929574a0bd0",
                "d760b876e2ab675e"
            ]
        ]
    },
    {
        "id": "d760b876e2ab675e",
        "type": "ui_text",
        "z": "b5c1dfac435d62cd",
        "group": "71697663edcd7898",
        "order": 0,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Fecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "55836ebf737e4ad6",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ventana Abierta",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 20,
        "wires": [
            [
                "c2534715682ebc25",
                "94a7663832f1e00a"
            ]
        ]
    },
    {
        "id": "967ba02843373aa2",
        "type": "ui_switch",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "label": "Ventana",
        "tooltip": "",
        "group": "66cbfbdfc0fcbbb9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 2120,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c2534715682ebc25",
        "type": "ui_audio",
        "z": "b5c1dfac435d62cd",
        "name": "Abierto",
        "group": "66cbfbdfc0fcbbb9",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 2420,
        "y": 20,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "9f531f0e85f60991",
        "type": "function",
        "z": "b5c1dfac435d62cd",
        "name": "C/A",
        "func": "//msg.topic = msg.payload.id2;\n//msg.payload = msg.payload.EdoVen;\nglobal.set (\"EdoVen\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 60,
        "wires": [
            [
                "55836ebf737e4ad6",
                "967ba02843373aa2"
            ]
        ]
    },
    {
        "id": "94a7663832f1e00a",
        "type": "ui_text",
        "z": "b5c1dfac435d62cd",
        "group": "66cbfbdfc0fcbbb9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "***Ventana***",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2400,
        "y": 100,
        "wires": []
    },
    {
        "id": "a16cbbfdb3fd6259",
        "type": "function",
        "z": "b5c1dfac435d62cd",
        "name": "E/A",
        "func": "//msg.topic = msg.payload.id2;\n//msg.payload = msg.payload.EdoVenti;\nglobal.set (\"EdoVenti\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 380,
        "wires": [
            [
                "2a566b425c452bac",
                "b33783d71ec8220b"
            ]
        ]
    },
    {
        "id": "2a566b425c452bac",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ventilador Encendido",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 340,
        "wires": [
            [
                "30aa3ac81f6cbeb3",
                "3e0e1b13d9298208"
            ]
        ]
    },
    {
        "id": "b33783d71ec8220b",
        "type": "ui_switch",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "label": "Ventilador",
        "tooltip": "",
        "group": "1250e9850d585101",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 2120,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "30aa3ac81f6cbeb3",
        "type": "ui_audio",
        "z": "b5c1dfac435d62cd",
        "name": "Encendido",
        "group": "1250e9850d585101",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 2410,
        "y": 340,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "3e0e1b13d9298208",
        "type": "ui_text",
        "z": "b5c1dfac435d62cd",
        "group": "1250e9850d585101",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "***Ventilador***",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2420,
        "y": 400,
        "wires": []
    },
    {
        "id": "e83da22db3c271dc",
        "type": "ui_audio",
        "z": "b5c1dfac435d62cd",
        "name": "Alarma",
        "group": "ac14757c0bcf6c4b",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 2420,
        "y": 240,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "51251bcbdc38bd25",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 240,
        "wires": [
            [
                "35d32edf8879764b",
                "27cda8cb0fcff021",
                "9f531f0e85f60991",
                "a16cbbfdb3fd6259"
            ]
        ]
    },
    {
        "id": "5756b855032c94d9",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 380,
        "wires": [
            [
                "35d32edf8879764b",
                "91b88c07c632bed9",
                "365723beb1d78043",
                "ede586bb0b2d7515"
            ]
        ]
    },
    {
        "id": "35d32edf8879764b",
        "type": "ui_switch",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "label": "Exceso de CO2",
        "tooltip": "",
        "group": "ac14757c0bcf6c4b",
        "order": 1,
        "width": "5",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1700,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "27cda8cb0fcff021",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Exceso dioxido de carbono",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2200,
        "y": 240,
        "wires": [
            [
                "e83da22db3c271dc"
            ]
        ]
    },
    {
        "id": "c433720a653e9e54",
        "type": "switch",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "600",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "600",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "51251bcbdc38bd25"
            ],
            [
                "5756b855032c94d9"
            ]
        ]
    },
    {
        "id": "f31200d77c3181f6",
        "type": "mqtt in",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "topic": "sic/capstone16/unidos",
        "qos": "2",
        "datatype": "auto",
        "broker": "928e759e86584aae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "2ee06b126cd10bac"
            ]
        ]
    },
    {
        "id": "2ee06b126cd10bac",
        "type": "json",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 560,
        "wires": [
            [
                "4dab1cfae86d6ced",
                "ab12e759cebde4aa",
                "286d7286823aa04b",
                "598740e946d64f6e"
            ]
        ]
    },
    {
        "id": "4a1349616b64f97b",
        "type": "ui_audio",
        "z": "b5c1dfac435d62cd",
        "name": "Alarma",
        "group": "ac14757c0bcf6c4b",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 1900,
        "y": 560,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "91b88c07c632bed9",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Oxigenacion adecuada",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 560,
        "wires": [
            [
                "4a1349616b64f97b"
            ]
        ]
    },
    {
        "id": "4dab1cfae86d6ced",
        "type": "function",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 260,
        "wires": [
            [
                "75860693917af756"
            ]
        ]
    },
    {
        "id": "ab12e759cebde4aa",
        "type": "function",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "func": "msg.payload = msg.payload.CO2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 340,
        "wires": [
            [
                "fef906841347b8d8",
                "c433720a653e9e54"
            ]
        ]
    },
    {
        "id": "286d7286823aa04b",
        "type": "function",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.CO2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 420,
        "wires": [
            [
                "36bb6927c3ce3a27"
            ]
        ]
    },
    {
        "id": "8585ad46cc0c12c8",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ventana cerrada",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 180,
        "wires": [
            [
                "9ebbabe41e9d4140",
                "94a7663832f1e00a"
            ]
        ]
    },
    {
        "id": "9ebbabe41e9d4140",
        "type": "ui_audio",
        "z": "b5c1dfac435d62cd",
        "name": "Cerrada",
        "group": "66cbfbdfc0fcbbb9",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 2420,
        "y": 180,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "365723beb1d78043",
        "type": "function",
        "z": "b5c1dfac435d62cd",
        "name": "C/A",
        "func": "//msg.topic = msg.payload.id2;\n//msg.payload = msg.payload.EdoVen;\nglobal.set (\"EdoVen\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 180,
        "wires": [
            [
                "8585ad46cc0c12c8",
                "967ba02843373aa2"
            ]
        ]
    },
    {
        "id": "ede586bb0b2d7515",
        "type": "function",
        "z": "b5c1dfac435d62cd",
        "name": "E/A",
        "func": "//msg.topic = msg.payload.id2;\n//msg.payload = msg.payload.EdoVenti;\nglobal.set (\"EdoVenti\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 480,
        "wires": [
            [
                "5da5c219efc15a57",
                "b33783d71ec8220b"
            ]
        ]
    },
    {
        "id": "5da5c219efc15a57",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ventilador Apagado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 500,
        "wires": [
            [
                "80d94f1d627f21c4",
                "3e0e1b13d9298208"
            ]
        ]
    },
    {
        "id": "80d94f1d627f21c4",
        "type": "ui_audio",
        "z": "b5c1dfac435d62cd",
        "name": "Apagado",
        "group": "1250e9850d585101",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 2400,
        "y": 460,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "598740e946d64f6e",
        "type": "function",
        "z": "b5c1dfac435d62cd",
        "name": "A/P",
        "func": "//msg.topic = msg.payload.id2;\nmsg.payload = msg.payload.presencia;\nglobal.set (\"presencia\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 640,
        "wires": [
            [
                "c1d9c05808053aeb",
                "ed4285fcad4309c5"
            ]
        ]
    },
    {
        "id": "4178149ec75882dd",
        "type": "ui_audio",
        "z": "b5c1dfac435d62cd",
        "name": "Alarma",
        "group": "28c5fafaf4c6c6a4",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 1800,
        "y": 740,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "c1d9c05808053aeb",
        "type": "ui_gauge",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "group": "34983b35c8346961",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Ausencia / Presencia",
        "label": "binario",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1160,
        "y": 580,
        "wires": []
    },
    {
        "id": "7b1544ca414624bb",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 740,
        "wires": [
            [
                "71272440606c98ee",
                "7fbab440bc925804",
                "ceb65c1ced43c965"
            ]
        ]
    },
    {
        "id": "4fede38b06f2a01b",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 840,
        "wires": [
            [
                "71272440606c98ee",
                "f2c896a1a13ca33a"
            ]
        ]
    },
    {
        "id": "ceb65c1ced43c965",
        "type": "debug",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 660,
        "wires": []
    },
    {
        "id": "71272440606c98ee",
        "type": "ui_switch",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "label": "Intruso en el aula",
        "tooltip": "",
        "group": "e6d23854.a005",
        "order": 1,
        "width": "5",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1550,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "7fbab440bc925804",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Intruso en el aula",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 740,
        "wires": [
            [
                "4178149ec75882dd"
            ]
        ]
    },
    {
        "id": "ed4285fcad4309c5",
        "type": "switch",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 780,
        "wires": [
            [
                "7b1544ca414624bb"
            ],
            [
                "4fede38b06f2a01b"
            ]
        ]
    },
    {
        "id": "3a195135615c4995",
        "type": "ui_audio",
        "z": "b5c1dfac435d62cd",
        "name": "Alarma",
        "group": "28c5fafaf4c6c6a4",
        "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
        "always": true,
        "x": 1800,
        "y": 840,
        "wires": [],
        "inputLabels": [
            "Mensaje"
        ]
    },
    {
        "id": "f2c896a1a13ca33a",
        "type": "change",
        "z": "b5c1dfac435d62cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Aula vacia",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 840,
        "wires": [
            [
                "3a195135615c4995"
            ]
        ]
    },
    {
        "id": "71697663edcd7898",
        "type": "ui_group",
        "name": "Ubicacion",
        "tab": "1bc7baa8f6b02be4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac14757c0bcf6c4b",
        "type": "ui_group",
        "name": "Valor de CO2",
        "tab": "1bc7baa8f6b02be4",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c94147aee56c8222",
        "type": "ui_group",
        "name": "Grafica",
        "tab": "1bc7baa8f6b02be4",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "66cbfbdfc0fcbbb9",
        "type": "ui_group",
        "name": "Estado ventana",
        "tab": "1bc7baa8f6b02be4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1250e9850d585101",
        "type": "ui_group",
        "name": "Estado Ventilador",
        "tab": "1bc7baa8f6b02be4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "928e759e86584aae",
        "type": "mqtt-broker",
        "name": "CasaErika",
        "broker": "192.168.1.102",
        "port": "1883",
        "clientid": "Equipo16",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "28c5fafaf4c6c6a4",
        "type": "ui_group",
        "name": "Alarma",
        "tab": "1bc7baa8f6b02be4",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34983b35c8346961",
        "type": "ui_group",
        "name": "Valor de presencia",
        "tab": "1bc7baa8f6b02be4",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e6d23854.a005",
        "type": "ui_group",
        "name": "Alarma",
        "tab": "1bc7baa8f6b02be4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1bc7baa8f6b02be4",
        "type": "ui_tab",
        "name": "Capston16",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]